
.env
*.sqlite3
*.log
__pycache__/
migrations/
*.py[cod]
venv/
.vscode/
staticfiles/
.DS_Store
.idea/
*.iml
*.swp
coverage/
htmlcov/
*.egg-info/
dist/
build/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache/
